*.pyc
*.swp
*.swo
*~
*.out
*.err
text.tch
scripts/db_benchmarks/bin/*
ve
compnews.egg-info
build
dist
compnews/data/nel2/*.4class
compnews/data/nel2/*.9class
editor/node_modules
.DS_Store
java/client/src/test/testresult.txt
java/client/target
setuptools_git-*
secret.py
