{% extends "layout.html" %}
{% block header %}
<nav><ol class="breadcrumb">{% for crumb in breadcrumbs %}<li><a href="{% if crumb %}{% url 'collection' sig=crumb %}{% else %}{% url 'collection' %}{% endif %}">{% if crumb %}{{crumb}}{% else %}All domains{% endif %}</a></li>{% endfor %}</ol></nav>
{% endblock %}
{% block content %}
<h2>Article record</h2>
<dl class="dl-horizontal">
    {% if article.title %}<dt>Title from FB</dt><dd>{{article.title}}</dd>{% endif %}
    {% if article.description %}<dt>Description from FB</dt><dd>{{article.description}}</dd>{% endif %}
    {% if article.fb_created %}<dt>FB created</dt><dd>{{article.fb_created}}</dd>{% endif %}
    {% if article.fb_type %}<dt>FB type</dt><dd>{{article.fb_type}}</dd>{% endif %}
    <dt>URL</dt><dd><a href="{{article.url|iriencode}}">{{article.url}}</a></dd>
    <dt>Incoming URLs</dt><dd>
        <ul>
            {% for spurl in article.spideredurl_set.all %}
            <li><a href="{{spurl.url|iriencode}}">{{spurl.url}}</a> (SW: {% for sw in spurl.sharewarsurl_set.all %}<a href="{% url 'article_by_swid' sw.id %}">{{sw.id}}</a>@{{sw.when}}{% if not loop.last %}, {% endif %}{% endfor %})</li>
            {% endfor %}
        </ul>
    </dd>
    <dt>URL signature</dt><dd><a href="{% url 'collection' sig=article.url_signature.signature %}">{{article.url_signature.signature}}</a></dd>
    <dt>Domain</dt><dd><a href="{% url 'collection' sig=article.url_signature.base_domain %}">{{article.url_signature.base_domain}}</a> / </dd>
    <dt>Facebook Graph</dt><dd><a href="http://graph.facebook.com/{{article.id}}">{{article.id}}</a></dd>
    <dt>FB total shares</dt><dd>{{article.fb_count_longterm}} (Updated {{article.fb_updated}})</dd>
	{% if article.fetch_status %}
    <dt>Fetch HTTP status</dt><dd class="{% if article.fetch_status == 200 %}text-success{% elif article.fetch_status %}text-danger{% endif %}">{{article.fetch_status}}</dd>
    <dt>In development sample</dt><dd{% if article.downloaded.in_dev_sample %} class="bg-success"{% endif %}>{{article.downloaded.in_dev_sample}}</dd>
	<dt>Structure group</dt><dd>{{article.downloaded.structure_group|stringformat:"02d"}}</dd>
	{% endif %}
</dl>


{% if article.fetch_status == 200 %}
{% include "downloadedarticle.html" %}
{% endif %}

<!--
<h2>The page</h2>
<div class="resizable ext-page"><iframe src="{{article.url|iriencode}}"></iframe></div>
-->

{% endblock %}
