{% extends "layout.html" %}
{% block content %}
<h2>Record</h2>
<dl>
    {% if article.title %}<dt>Title as shown in FB share</dt><dd>{{article.title}}</dd>{% endif %}
    {% if article.description %}<dt>Description as shown in FB share</dt><dd>{{article.description}}</dd>{% endif %}
    {% if article.fb_created %}<dt>FB created</dt><dd>{{article.fb_created}}</dd>{% endif %}
    {% if article.fb_type %}<dt>FB type</dt><dd>{{article.fb_type}}</dd>{% endif %}
    <dt>URL</dt><dd><a href="{{article.url|iriencode}}">{{article.url}}</a></dd>
    <dt>URL signature</dt><dd><a href="{% url 'collection' sig=article.url_signature.signature %}">{{article.url_signature.signature}}</a></dd>
    <dt>Domain</dt><dd><a href="{% url 'collection' sig=article.url_signature.base_domain %}">{{article.url_signature.base_domain}}</a> / </dd>
    <dt>Facebook Graph</dt><dd><a href="http://graph.facebook.com/{{article.id}}">{{article.id}}</a></dd>
    <dt>FB total shares</dt><dd>{{article.total_shares}} (Updated {{article.fb_updated}})</dd>
	{% if article.fetch_status %}
	<dt>Fetch HTTP status</dt><dd>{{article.fetch_status}}</dd>
	<dt>In extractor development sample</dt><dd>{{article.downloaded.in_dev_sample}}</dd>
	{% endif %}
</dl>

<h2>Incoming URLs</h2>
<ul>
{% for spurl in article.spideredurl_set.all %}
<li><a href="{{spurl.url|iriencode}}">{{spurl.url}}</a> (SW: {% for sw in spurl.sharewarsurl_set.all %}<a href="{% url 'article_by_swid' sw.id %}">{{sw.id}}</a>@{{sw.when}}{% if not loop.last %}, {% endif %}{% endfor %})</li>
{% endfor %}
</ul>

{% if article.fetch_status %}
{% include "downloadedarticle.html" %}
{% endif %}

<h2>The page</h2>
<div class="resizable ext-page"><iframe src="{{article.url|iriencode}}"></iframe></div>

{% endblock %}
