{% extends "layout.html" %}
{% block header %}
<nav><ol class="breadcrumb">{% for crumb in breadcrumbs %}<li><a href="{% if crumb %}{% url 'collection' sig=crumb %}{% else %}{% url 'collection' %}{% endif %}">{% if crumb %}{{crumb}}{% else %}All domains{% endif %}</a></li>{% endfor %}</ol></nav>
{% endblock %}
{% block content %}
<h1>{% if params.sig %}{{params.sig}}{% else %}All domains{% endif %}
{% if params.period %}in {{params.period}}{% endif %}
{% if params.start and params.end %}in {{params.start}} to {{params.end}}{% elif params.start %}since {{params.start}}{% elif params.end %}until {{params.end}}{% endif %}
</h1>

<dl class="dl-horizontal">
    <dt>Total</dt><dd>{{articles.count}}</dd>
    <dt>Fetched</dt><dd>{{fetched.count}}</dd>
    <dt>Successful fetch</dt><dd>{{fetched_success.count}}</dd>
    <dt>{% if params.sig %}<a href="{% url 'extractor' field='headline' sig=params.sig %}">{% endif %}Extractor development{% if params.sig %}</a>{% endif %}</dt><dd>{{dev_sample.count}}</dd>
</dl>

<h2>Total shares summary</h2>
<table class="table table-striped">
    <thead><tr><th>Bin freq</th><th>Min</th><th>Max</th><th>Avg</th><th>Example</th></tr></thead>
    <tbody>
    {% for bin in share_bins %}
    <tr><td>{{bin.count}}</td><td>{{bin.min}}</td><td>{{bin.max}}</td><td>{{bin.avg|floatformat:1}}</td><td>{% include '_article_link.html' with article=bin.example only %}</td></tr>
    {% endfor %}
    </tbody>
</table>

{% if subdivisions %}
<h2>Subdivision</h2>
<table id="collection-subdiv" class="table table-striped table-condensed">
	<thead><tr><th>Frequency</th><th>Cumulative</th><th>Group</th><th>Extractors</th>{% if params.sig %}<th>Structure groups</th>{% endif %}</tr></thead>
    <tbody>
    {% for sig, count, percent, sig_obj in subdivisions %}
	<tr><td>{{count}}</td><td>{{percent|floatformat:1}}%</td><td class="sig"><a href="{% url 'collection' sig=sig start=params.start|default:'' end=params.end|default:'' %}">{{sig}}</a></td>{% if sig_obj %}<td class="extractor_status">{{sig_obj.status}}</td><td>{{sig_obj.structure_groups}}</td>{% endif %}</tr>
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
<!--
$(document).ready(function() {
  var fields = {H: 'headline', D: 'dateline', B: 'byline', T: 'body_text',
                h: 'headline', d: 'dateline', b: 'byline', t: 'body_text',}
  $('#collection-subdiv .extractor_status').each(function () {
    var sig = $(this).closest('tr').find('.sig').text();
    var els = $.map($(this).text().split(''), function(c) {
      return $('<a/>').attr('href', '{% url 'extractor' field='XXX' sig='YYY' %}'.replace('XXX', fields[c]).replace('YYY', sig)).text(c);
    });
    console.log(els)
    $(this).text('').append(els);
  });
});
// -->
</script>
{% endif %}

{% endblock %}
