{% load getattr %}
<h2>Downloaded content</h2>
<ul>
	<li><a href="{% url 'article_raw' article.id %}">View fetched</a></li>
	<li><a href="{% url 'article_raw' article.id %}?style=none">View unstyled</a></li>
	<li><a href="{% url 'article_raw' article.id %}?style=selector">View with CSS selectors</a></li>
</ul>
<h2>Extracted fields</h2>
<dl class="dl-horizontal">
{% for field in extracted_fields %}
  <dt><tt><a href="{% url 'extractor' field=field sig=article.url_signature.signature %}" title="Develop selector for this field/signature">{{field}}</a></tt></dt>
  {% if article.downloaded|getattr:field %}<dd><pre>{{article.downloaded|getattr:field}}</pre></dd>{% else %}<dd>&mdash;</dd>{% endif %}
{% endfor %}
</dl>

<h2>Unsupervised extractions</h2>

<h3>Semantic annotation</h3>
<dl class="dl-horizontal">
	{% for scheme, url, fields in article.downloaded.sniff_semantic_annotation %}
	<dt{% if fields %} class="bg-success"{% endif %}><a href="{{url}}" title="Parse {{scheme}} annotations">{{scheme}}</a></dt><dd>{% if fields %}<ul>{% for field, count, props in fields %}<li>{{field}}: {{count}} {% for prop in props %}<code>{{prop}}</code>{% if not forloop.last %}; {% endif %}{% endfor %}</li>{% endfor %}</ul>{% else %}&mdash;{% endif %}</dd>
	{% endfor %}
</dl>

<h3>Python-Readability</h3>
<dl class="dl-horizontal">
    {% with article.downloaded.pyreadability as items %}
    <dt>short title</dt><dd>{{items.short_title}}</dd>
	<dt>summary</dt><dd><div class="resizable ext-page"><iframe srcdoc="{{items.summary}}"></iframe></div></dd>
    {% endwith %}
</dl>

<h3>Meta tags</h3>
<dl class="dl-horizontal">
    {% for name, content in article.downloaded.meta_fields %}
    <dt>{{name}}</dt><dd>{{content}}</dd>
    {% endfor %}
</dl>
