{% extends "layout.html" %}
{% block content %}
<h1>Developing
    <tt>{{params.field}}</tt>
    selectors for
    <a href="{% url 'collection' sig=params.sig %} ">{{ params.sig }}</a></h1>

{% if params.msg %}
<aside class="alert alert-success"><p>{{params.msg}}</p></aside>
{% endif %}

<nav>
<label>
Work on another field:
</label>
<select id="fieldsel">{% for field in fields %}<option value="{% url 'extractor' field=field sig=params.sig %}"{% if field == params.field %}selected="selected"{% endif %}>{{field}}</option>{% endfor %}</select>
</nav>

<!-- for now we'll pretend we're only dealing with one field -->
<form id="selentry" method="post" role="form">
{% csrf_token %}
<div class="form-group">
    <label for="selector">CSS selector:</label> or <a href="#" id="copy-selector-link">copy <span class="caret"></span></a>
    <textarea class="form-control" id="selector" rows="3" name="selector">{{selector}}</textarea>
</div>

<div class="btn-group">
<input class="btn btn-primary" type="button" id="seltest" value="Evaluate">
<input class="btn btn-success" type="submit" id="selsave" disabled="true" value="Save">
</div>
</form>

<h2>Development sample</h2>
<table id="devsample" class="display">
    <colgroup>
    <col class="odd" />
    <col class="even"/>
    <col class="odd"/>
    <col class="even"/>
    <col class="odd"/>
    <col class="even"/>
    </colgroup>
    <thead><th>Cluster</th><th>Article</th><th>Link</th><th>FB date</th><th>Has</th><th id="matchedcolhdr">Matched</th></thead>
    <tbody>
{% for article in dev_sample %}
<tr class="deventry devsample{{article.id}}" data-id="{{article.id}}">
    <td>{% if article.downloaded.structure_group %}{{article.downloaded.structure_group}}{% else %}?{% endif %}</td>
    {% include '_article_link.html' with article=article intable=1 only %}
    <td>{{article.fb_created}}</td>
    <td>{{article.extracted}}</td>
    <td class="matched"></td>
</tr>
<!--<li class="deventry devsample{{article.id}} sgroup{{article.downloaded.structure_group}}" data-id="{{article.id}}">{% include '_article_link.html' with article=article only %}</li>-->
{% endfor %}
    </tbody>
</table>

{% endblock %}

{% block css %}
<style type="text/css">
.matched {
  color: orange;
  cursor: pointer;
}
.matched[data-value="?"] {
  color: gray;
  cursor: auto;
}
.matched[data-value="0"] {
  color: red;
  cursor: auto;
}
.matched[data-value="1"] {
  color: green;
}
.matched-content {
  margin: .5em 2em;
  font-style: italic;
}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
jQuery.fn.setMatched = function(val) {
  var el = this.find('.matched').addBack('.matched').attr('data-value', val).text(val);
  return this;
}

$(document).ready(function() {
  table = $('#devsample').DataTable({
    pageLength: 1000,
    lengthChange: false,
  });
  //<ol class="matched-content"></ol>');
  var doEvaluate = function(ev){ $('#seltest').click(); ev.preventDefault(); return false; };
  $('#selector').enterKey(doEvaluate, 'ctrl').enterKey(doEvaluate, 'shift');
  $('#selector').select();

  $('#seltest').click(function(){
    $('#seltest').prop('disabled', true);
    var selector = $("#selector").val()
    $('#devsample > tbody > tr').setMatched('?');
    $('#devsample > tbody > tr').data('matched-content', '');
    $.get('{% url 'extractor_eval' params.sig %}',
          {selector: selector},
          function (result) {
            $.each(result[selector], function (article_id, extractions) {
              var entry = $('#devsample .devsample' + article_id);
              entry.setMatched(extractions.length);
              var content = $('<ol class="matched-content" />')
              for (var i in extractions) {
                content.append($('<li/>').text(extractions[i]));
              }
              entry.data('matched-content', $('<div>').append(content.clone()).html())
            });
            $('#seltest').prop('disabled', true);
          },
          'json').always(function (){
            $('#seltest').prop('disabled', false);
          }).fail(function (response) {
            alert('Error evaluating selector: ' + JSON.parse(response.responseText).message);
          });
    return false;
  });

  $('#selector').on("input", function() {
    $('#selsave').prop('disabled', false);
  });

  $('#devsample .matched').click(function() {
    if ($(this).data('value') == 0 || $(this).data('value') == '?')
      return;
    var tr = $(this).closest('.deventry');
    var row = table.row(tr);
    if ( row.child.isShown() ) {
        // This row is already open - close it
        row.child.hide();
        tr.removeClass('shown');
    }
    else {
        // Open this row
        var ch = row.child(tr.data('matched-content'));
        ch.show();
        tr.addClass('shown');
    }
    return;
  });

  $('#copy-selector-link').click(function() {
    if ($('#copy-selector-table')[0]) {
      $('#copy-selector-table').DataTable().destroy(true);
      return;
    }
    function renderSig(data, type, row, meta) {
      if (!data || data == "") return;
      // XXX: consider django-js-reverse for sanity
      return '<a href="{% url 'extractor' field=params.field sig='SIG' %}" target="_blank">SIG</a>'.replace(/SIG/g, data);
    }
    var table = $('<table id="copy-selector-table" class="table table-striped" />').insertAfter(this).DataTable({
      // TODO: set field dynamically
      ajax: "{% url 'prior_extractors' field=params.field sig=params.sig %}",
      order: [[ 3, "desc" ], [1, "desc"]],
      // XXX: there must be a nicer way to do this!?
      rowCallback: function(row, data) {
        // click for CSS selector
        console.log($('td:first', row));
        $('td:first', row).wrapInner($('<a href="#" />').click(function() {
          $('#selector').val($(this).text()).trigger("input");
          table.destroy(true);
        }));
      },
      columns: [
        {data: 'selector', title: 'CSS selector'},
        {data: 'overall', title: '#sigs', type: 'num'},
        {data: 'overall_example', title: 'example', render: renderSig},
        {data: 'domain', defaultContent: "0", title: '#sigs in domain', type: 'num'},
        {data: 'domain_example', defaultContent: "", title: 'example', render: renderSig},
      ],
    });
  });

  $('#fieldsel').change(function(){
    // TODO: error if not saved
    window.location = $(this).val();
  });

  var saved = false;
  $('#selentry').submit(function(){saved = true;});
  $(window).on('beforeunload', function(){
    if (!saved && $('#selector').val() != $('#selector').text()) {
      return "The selector has been changed but not saved."
    }
  });

  $('#matchedcolhdr').append($('<a href="#"> +</a>').click(function() {
    var toggleAnchor = this;
    var trs = $(this).closest('table').find('tr');
    if ($(toggleAnchor).text() == ' +') {
      trs.find('.matched').click();
      $(toggleAnchor).text(' –');
    } else {
        console.log('!aawsdfas')
      trs.each(function() {
        table.row(this).child.hide()
        $(this).removeClass('shown');
      });
      $(toggleAnchor).text(' +');
    }
    return false;
  }));

});

{% if eval_on_load %}
$(document).ready(function(){
  $('#seltest').click();
});
{% endif %}
</script>
{% endblock %}
