{% extends "layout.html" %}
{% block content %}
<h1>Developing
    <tt>{{params.field}}</tt>
    selectors for
    <a href="{% url 'collection' sig=params.sig %} ">{{ params.sig }}</a></h1>

{% if params.msg %}
<aside class="alert alert-success"><p>{{params.msg}}</p></aside>
{% endif %}

<nav>
<label>
Work on another field:
</label>
<select id="fieldsel">{% for field in fields %}<option value="{% url 'extractor' field=field sig=params.sig %}"{% if field == params.field %}selected="selected"{% endif %}>{{field}}</option>{% endfor %}</select>
</nav>

<!-- for now we'll pretend we're only dealing with one field -->
<form id="selentry" method="post" role="form">
{% csrf_token %}
<div class="form-group">
	<label for="selector">CSS selector:</label>
	<input class="form-control" id="selector" name="selector" value="{{selector}}">
	or <a href="#" id="copy-selector-link">copy <span class="caret"></span></a>
</div>

<div class="btn-group">
<input class="btn btn-primary" type="button" id="seltest" value="Evaluate">
<input class="btn btn-success" type="submit" id="selsave" disabled="true" value="Save">
</div>
</form>

<h2>Development sample</h2>
<ul id="devsample">
{% for article in dev_sample %}
  <li class="deventry devsample{{article.id}}" data-id="{{article.id}}">{% include '_article_link.html' with article=article only %}</li>
{% endfor %}
</ul>

{% endblock %}

{% block css %}
<style type="text/css">
.matched {
  color: orange;
  cursor: pointer;
}
.matched[data-value="?"] {
  color: gray;
  cursor: auto;
}
.matched[data-value="0"] {
  color: red;
  cursor: auto;
}
.matched[data-value="1"] {
  color: green;
}
.matched-content {
  display: none;
  margin: .5em 2em;
}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
jQuery.fn.setMatched = function(val) {
  var el = this.find('.matched').addBack('.matched').attr('data-value', val).text('Matched: ' + val);
  return this;
}

$(document).ready(function() {
  $('#devsample > li').append(' <span class="matched"></span><ol class="matched-content"></ol>');
  $('#selector').enterKey(function(ev){ $('#seltest').click(); ev.preventDefault(); return false; });
  $('#selector').select();

  $('#seltest').click(function(){
    $('#seltest').prop('disabled', true);
    var selector = $("#selector").val()
    $('#devsample > li').setMatched('?');
    $('#devsample > li .matched-content').empty();
    $.get('{% url 'extractor_eval' params.sig %}',
          {selector: selector},
          function (result) {
            $.each(result[selector], function (article_id, extractions) {
              var entry = $('#devsample .devsample' + article_id);
              entry.setMatched(extractions.length);
              var content = entry.find('.matched-content');
              for (var i in extractions) {
                content.append($('<li/>').text(extractions[i]));
              }
            });
            $('#seltest').prop('disabled', true);
          },
          'json').always(function (){
            $('#seltest').prop('disabled', false);
          }).fail(function (response) {
            alert('Error evaluating selector: ' + JSON.parse(response.responseText).message);
          });
    return false;
  });

  $('#selector').on("input", function() {
  	$('#selsave').prop('disabled', false);
  });

  $('#devsample > li .matched').click(function() {
    if ($(this).data('value') == 0 || $(this).data('value') == '?')
      return;
    $(this).closest('.deventry').find('.matched-content').toggle();
    return;
  });

  $('#copy-selector-link').click(function() {
    if ($('#copy-selector-table')[0]) {
      $('#copy-selector-table').DataTable().destroy(true);
      return;
    }
    function renderSig(data, type, row, meta) {
      if (!data || data == "") return;
      // XXX: consider django-js-reverse for sanity
      return '<a href="{% url 'extractor' field=params.field sig='SIG' %}" target="_blank">SIG</a>'.replace(/SIG/g, data);
    }
    var table = $('<table id="copy-selector-table" class="table table-striped" />').insertAfter(this).DataTable({
      // TODO: set field dynamically
      ajax: "{% url 'prior_extractors' field='body_text' sig=params.sig %}",
      order: [[ 3, "desc" ], [1, "desc"]],
      // XXX: there must be a nicer way to do this!?
      rowCallback: function(row, data) {
        // click for CSS selector
        console.log($('td:first', row));
        $('td:first', row).wrapInner($('<a href="#" />').click(function() {
          $('#selector').val($(this).text());
          table.destroy(true);
        }));
      },
      columns: [
        {data: 'selector', title: 'CSS selector'},
        {data: 'overall', title: '#sigs', type: 'num'},
        {data: 'overall_example', title: 'example', render: renderSig},
        {data: 'domain', defaultContent: "0", title: '#sigs in domain', type: 'num'},
        {data: 'domain_example', defaultContent: "", title: 'example', render: renderSig},
      ],
    });
  });

  $('#fieldsel').change(function(){
    // TODO: error if not saved
    window.location = $(this).val();
  });

  var saved = false;
  $('#selentry').submit(function(){saved = true;});
  $(window).on('beforeunload', function(){
    if (!saved && $('#selector').val() != $('#selector').attr('value')) {
      return "The selector has been changed but not saved."
    }
  });

});

{% if eval_on_load %}
$(document).ready(function(){
  $('#seltest').click();
});
{% endif %}
</script>
{% endblock %}
