{% extends "layout.html" %}
{% block content %}
<h1>Developing CSS selectors for <a href="{% url 'collection' sig=params.sig %} ">{{ params.sig }}</a></h1>

<!-- for now we'll pretend we're only dealing with one field -->
<div class=".selentry">
<label>CSS selector: <input id="selector" value=""></label>
or <a href="#" id="copy-selector-link">copy ...</a>

<br />
<input type="button" id="seltest" value="Evaluate">
<input type="button" id="selsave" value="Save">
</div>

<h2>Development sample</h2>
<table>
<ul id="devsample">
{% for article in dev_sample %}
  <li class="deventry devsample{{article.id}}" data-id="{{article.id}}">{% include '_article_link.html' with article=article only %}</li>
{% endfor %}
</ul>

{% endblock %}

{% block css %}
<style type="text/css">
.matched {
  color: orange;
  cursor: pointer;
}
.matched[data-value="?"] {
  color: gray;
  cursor: auto;
}
.matched[data-value="0"] {
  color: red;
  cursor: auto;
}
.matched[data-value="1"] {
  color: green;
}
.matched-content {
  display: none;
  margin: .5em 2em;
}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
jQuery.fn.setMatched = function(val) {
  var el = this.find('.matched').addBack('.matched').attr('data-value', val).text('Matched: ' + val);
  return this;
}

$.fn.enterKey = function (fnc) {
    return this.each(function () {
        $(this).keypress(function (ev) {
            var keycode = (ev.keyCode ? ev.keyCode : ev.which);
            if (keycode == '13') {
                fnc.call(this, ev);
            }
        })
    })
}
$(document).ready(function() {
  $('#devsample > li').append(' <span class="matched"></span><ol class="matched-content"></ol>').setMatched('?');
  $('#selector').enterKey(function(){ $('#seltest').click(); });
  $('#selector').select();

  $('#seltest').click(function(){
    $('#seltest').prop('disabled', true);
    var selector = $("#selector").val()
    $('#devsample > li').setMatched('?');
    $('#devsample > li .matched-content').empty();
    $.get('{% url 'extractor_eval' params.sig %}',
          {selector: selector},
          function (result) {
            $.each(result[selector], function (article_id, extractions) {
              var entry = $('#devsample .devsample' + article_id);
              entry.setMatched(extractions.length);
              var content = entry.find('.matched-content');
              for (var i in extractions) {
                content.append($('<li/>').text(extractions[i]));
              }
            });
            $('#seltest').prop('disabled', true);
          },
          'json').always(function (){
            $('#seltest').prop('disabled', false);
          });
  });

  $('#devsample > li .matched').click(function() {
    if ($(this).data('value') == 0 || $(this).data('value') == '?')
      return;
    $(this).closest('.deventry').find('.matched-content').toggle();
    return;
  });

  $('#copy-selector-link').click(function() {
    if ($('#copy-selector-table')[0]) {
      $('#copy-selector-table').DataTable().destroy(true);
      return;
    }
    function renderSig(data, type, row, meta) {
      if (!data || data == "") return;
      // XXX: consider django-js-reverse for sanity
      return '<a href="{% url 'extractors' sig='SIG' %}" target="_blank">SIG</a>'.replace(/SIG/g, data);
    }
    var table = $('<table id="copy-selector-table" class="display" />').insertAfter(this).DataTable({
      // TODO: set field dynamically
      ajax: "{% url 'prior_extractors' field='body_text' sig=params.sig %}",
      order: [[ 3, "desc" ], [1, "desc"]],
      // XXX: there must be a nicer way to do this!?
      rowCallback: function(row, data) {
        // click for CSS selector
        console.log($('td:first', row));
        $('td:first', row).wrapInner($('<a href="#" />').click(function() {
          $('#selector').val($(this).text());
          table.destroy(true);
        }));
      },
      columns: [
        {data: 'selector', title: 'CSS selector'},
        {data: 'overall', title: '#sigs', type: 'num'},
        {data: 'overall_example', title: 'example', render: renderSig},
        {data: 'domain', defaultContent: "0", title: '#sigs in domain', type: 'num'},
        {data: 'domain_example', defaultContent: "", title: 'example', render: renderSig},
      ],
    });
  });
});
</script>
{% endblock %}
