{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>{% block title %}{{title}}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/site.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
		{% block css %}{% endblock %}
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css" type="text/css">
	</head>
	<body>
		{% block header %}
		<header>
		</header>
		{% endblock %}

		<article id="content">
			{% block content %}{% endblock %}
		</article>

    {% block js %}{% endblock %}
	<script type="text/javascript" src="{% static 'js/site.js' %}"></script>
	</body>
</html>
